body {text-align: center; }

.img1 {
 width: 170px;
 height: 50px;}

 .nav-item {font-size: 12px;}
.container-fluid { margin-left: 200px;}

.Search-button { width: 350px;
padding: 12px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
height: 25px;}

input[type="text"]:hover {color: #898c89; } 

.button1 { border: 2px solid #ccc;
border-radius: 4px}

.heading1 {text-transform: uppercase;
font-size: 20px; }

.dropdown-menu {width: 2000px;}
.img2 { width: 100px; height: 30px;
float: right;
margin-right: 300px;}


#carouselExampleControls { width: 1250px;
border-radius: 30px;
margin-left: 350px;}


.animations { display: inline;
    margin-right: 50px;
}

.image3 {margin-left: 50px;}
.link1 {color: black;}
.link2 {color: black;}

.endingpara {font-size: 12px; 
margin-left: 500px;
margin-right: 500px;
text-align: left;}

.extend {text-transform: uppercase;
font-size: 13px;}

.mb-3 {max-width: 400px;
margin-left: 700px;
margin-right:500px ;
font-size: 12px;}

.endbutton {background-color: rgb(63, 5, 5);
color: white;}

.number-element {list-style-type: none;
text-align: left;
font-size: 15px;
display: inline-block;}


.number-element2 { display: inline-block;
list-style-type: none;
text-align:left;
font-size: 15px;}

.list-element {display: inline-block;
    list-style-type: none;
    text-align: left;
    font-size: 15px;}






